
@font-face {
    font-family: 'f1';
    src: url(fonts/Formula1-Regular-1.ttf);
}

@font-face {
  font-family: 'f1-b';
  src: url(./../fonts/Formula1-Regular-1.ttf);
}




    .f1
{
font-family: f1, sans-serif;
}

.f1-b
{
font-family: f1-b, sans-serif;
}