body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #000;
      color: white;
    }
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #111;
      padding: 10px 20px;
    }
    .navbar-left {
      display: flex;
      align-items: center;
      gap: 80px;
      padding: 10px 80px;
    }
    .navbar-left img {
      height: 35px;
    }
    .navbar-left a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      padding: 5px;
    }
    .navbar-left a:hover {
      color: red;
    }
    .video-section {
      background: #dcdcdc;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color: #111;
    }
    
    .highlight-section {
      padding: 20px;
    }

    .highlight-section h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .highlight-container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .highlight-card {
      background: #eee;
      width: 280px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }