
@font-face {
    font-family: 'f1';
    src: url(fonts/Formula1-Regular-1.ttf);
}

@font-face {
  font-family: 'f1-b';
  src: url(./../fonts/Formula1-Regular-1.ttf);
}


body {
      margin: 0;
      
      background-color: #000;
      color: white;
    }
    .navbar {
      font: 1em sans-serif;
      font-family: f1, sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #111;
      padding: 10px 20px;
    }
    .navbar-left {
      display: flex;
      align-items: center;
      gap: 80px;
      padding: 10px 80px;
    }
    .navbar-left img {
      height: 35px;
    }
    .navbar-left a {
      text-decoration: none;
      color: white;
      font-weight: 500;
      padding: 5px;
    }
    .navbar-left a:hover {
      color: red;
    }
    .video-section {
      background: #dcdcdc;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      color: #111;
    }
    
    .highlight-section {
      padding: 20px;
    }

    .highlight-section h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .highlight-container {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .highlight-card {
      background: #eee;
      width: 280px;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }


    .f1
{
font-family: f1, sans-serif;
}

.f1-b
{
font-family: f1-b, sans-serif;
}